<div class="container bg-white border p-5 mt-5">
  <h2 class="text-center font-weight-bold"><%= t ".top_order" %></h2>
  <div class="text-right">
    <a class="btn btn-outline-danger btn-lg rounded-0" href="#" role="button">
        <i class="fa fa-dot-circle-o"></i>
        <%= t ".view_menu" %>
    </a>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="text-center shadow">
        <%= image_tag("dish-1.png", alt: "...", class: "w-100") %>
        <p class="font-weight-bold lead">Lorem Ipsum
          <span class="badge badge-danger">XXX $$$</span></p>
        <button type="button" class="btn btn-outline-danger btn-block rounded-0">Order</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="text-center shadow">
        <%= image_tag("dish-2.png", alt: "...", class: "w-100") %>
        <p class="font-weight-bold lead">Lorem Ipsum
          <span class="badge badge-danger">XXX $$$</span></p>
        <button type="button" class="btn btn-outline-danger btn-block rounded-0">Order</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="text-center shadow">
        <%= image_tag("dish-3.png", alt: "...", class: "w-100") %>
        <p class="font-weight-bold lead">Lorem Ipsum
          <span class="badge badge-danger">XXX $$$</span></p>
        <button type="button" class="btn btn-outline-danger btn-block rounded-0">Order</button>
      </div>
    </div>
  </div>
</div>
