<div class="container p-5 mt-5 border rounded shadow text-white">
  <h2 class="text-center font-weight-bold"><%= t ".top_order" %></h2>
  <a class="font-weight-bold lead text-white" href="#">
      <i class="fa fa-dot-circle-o"></i>
      <%= t ".view_menu" %>
  </a>
  <div class="row p-5">
    <div class="col-sm-4">
      <div class="text-center border rounded shadow">
        <%= image_tag("dish-1.png", alt: "...", class: "w-100") %>
        <p class="font-weight-bold lead">Lorem Ipsum
          <span class="badge badge-light">XXX $$$</span></p>
        <button type="button" class="btn btn-outline-light btn-block">Order</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="text-center border rounded shadow">
        <%= image_tag("dish-2.png", alt: "...", class: "w-100") %>
        <p class="font-weight-bold lead">Lorem Ipsum
          <span class="badge badge-light">XXX $$$</span></p>
        <button type="button" class="btn btn-outline-light btn-block">Order</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="text-center border rounded shadow">
        <%= image_tag("dish-3.png", alt: "...", class: "w-100") %>
        <p class="font-weight-bold lead">Lorem Ipsum
          <span class="badge badge-light">XXX $$$</span></p>
        <button type="button" class="btn btn-outline-light btn-block">Order</button>
      </div>
    </div>
  </div>
</div>
