<section class="caviar-hero-area" id="home">
  <div class="welcome-social-info">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </div>
  <div class="caviar-hero-slides owl-carousel">
    <div class="single-hero-slides bg-img"
     style="background-image: url(<%= asset_path('hero-1.jpg') %>);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-11 col-md-6 col-lg-4">
            <div class="hero-content">
              <h2>Lorem Ipsum</h2>
              <p>Morbi sed porta diam.
                 Sed pulvinar cursus lorem,
                 consectetur iaculis dolor scelerisque non.
                 Praesent bibendum mauris risus, non aliquam
                 tellus consectetur nec.</p>
              <a href="#" class="btn caviar-btn"><span></span>
                <%= t ".reservation" %></a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-slides-nav bg-img"
       style="background-image: url(<%= asset_path('hero-2.jpg') %>);"></div>
    </div>
    <div class="single-hero-slides bg-img"
     style="background-image: url(<%= asset_path('hero-2.jpg') %>);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-11 col-md-6 col-lg-4">
            <div class="hero-content">
              <h2>Lorem Ipsum</h2>
              <p>Morbi sed porta diam.
                 Sed pulvinar cursus lorem,
                 consectetur iaculis dolor scelerisque non.
                 Praesent bibendum mauris risus, non aliquam
                 tellus consectetur nec.</p>
              <a href="#" class="btn caviar-btn"><span></span>
                <%= t ".reservation" %></a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-slides-nav bg-img"
       style="background-image: url(<%= asset_path('hero-1.jpg') %>);"></div>
    </div>
  </div>
</section>
<section class="caviar-about-us-area section-padding-150" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
          <%= image_tag("about-1.jpg", alt: "") %>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
        <div class="section-heading">
          <h2>About Us</h2>
        </div>
        <div class="about-us-content">
          <span>restaurant style</span>
          <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper.
             Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus
             nisi a euismod. Etiam scelerisque eu enim et vestibulum. Mauris finibus,
             eros a faucibus varius, dui risus mattis massa, sed lobortis ante ante eget justo.
             Nam eu dolor lorem. Praesent blandit leo sit amet velit accumsan ultrices. Vestibulum
             nec libero vel sapien dictum euismod eu ac justo.</p>
        </div>
      </div>
    </div>
    <div class="about-us-second-part">
      <div class="row align-items-center pt-200">
        <div class="col-12 col-md-6 col-lg-5">
          <div class="about-us-content">
            <span>our chef</span>
            <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper.
               Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus
               nisi a euismod. Etiam scelerisque eu enim et vestibulum. Mauris finibus,
               eros a faucibus varius, dui risus mattis massa, sed lobortis ante ante eget justo.</p>
          </div>
        </div>
        <div class="col-12 col-md-6 ml-md-auto">
          <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
            <%= image_tag("about-2.jpg", alt: "") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="caviar-dish-menu" id="menu">
  <div class="container">
    <div class="row">
      <div class="col-12 menu-heading">
        <div class="section-heading text-center">
          <h2><%= t ".top_order" %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
          <%= image_tag("dish-1.png", alt: "") %>
          <div class="dish-info">
            <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
            <p class="dish-price"><%= Settings.money_symbol %>45</p>
          </div>
          <a href="#" class="btn caviar-btn"><span></span>
            <%= t ".order" %></a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
          <%= image_tag("dish-2.png", alt: "") %>
          <div class="dish-info">
            <h6 class="dish-name">Lorem Ipsum</h6>
            <p class="dish-price"><%= Settings.money_symbol %>45</p>
          </div>
          <a href="#" class="btn caviar-btn"><span></span>
            <%= t ".order" %></a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
          <%= image_tag("dish-3.png", alt: "") %>
          <div class="dish-info">
            <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
            <p class="dish-price"><%= Settings.money_symbol %>45</p>
          </div>
          <a href="#" class="btn caviar-btn"><span></span>
            <%= t ".order" %></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="caviar-awards-area" id="awards">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-2">
        <div class="section-heading">
          <h2><%= t ".awards" %></h2>
        </div>
      </div>
      <div class="col-12 col-md-9 ml-md-auto">
        <div class="caviar-awards d-sm-flex justify-content-between">
          <%= image_tag("a-1.png", alt: "") %>
          <%= image_tag("a-2.png", alt: "") %>
          <%= image_tag("a-3.png", alt: "") %>
          <%= image_tag("a-4.png", alt: "") %>
          <%= image_tag("a-5.png", alt: "") %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="caviar-testimonials-area" id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="testimonials-content">
          <div class="section-heading text-center">
            <h2><%= t ".reviews" %></h2>
          </div>
          <div class="caviar-testimonials-slides owl-carousel">
            <% @reviews.each do |review| %>
              <div class="single-testimonial">
                <div class="testimonial-thumb-name d-flex align-items-center">
                  <%= image_tag("3.jpg", alt: "") %>
                  <div class="tes-name">
                    <h5><%= review.user.name %></h5>
                    <p>lorem ipsum</p>
                  </div>
                </div>
                <p><%= review.content %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
