<div class="bg-img bg-overlay hero2">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h2><%= @menu.name %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="caviar-food-menu section-padding-100 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="food-menu-title">
          <h2><%= @menu.name %></h2>
        </div>
      </div>
      <div class="col-10">
        <div class="caviar-projects-menu">
          <div class="text-center portfolio-menu">
            <button class="active" data-filter="*"><%= t ".all" %></button>
            <%= render partial: "categories/category_nav",
             collection: @categories, as: "category" %>
          </div>
        </div>
        <div class="caviar-menu-slides owl-carousel clearfix">
          <div class="caviar-portfolio clearfix">
            <%= render partial: "dishes/dishes_in_menu",
             collection: @dishes, as: "dish" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
