<div class="breadcumb-area bg-img bg-overlay hero2">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h2><%= @menu.name %></h2>
          <% if current_user.admin? %>
            <%= link_to t(".edit"), "#", class: "btn caviar-btn",
              data: {toggle: "modal", target: "#modal-edit"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="caviar-food-menu section-padding-150 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%= render "layouts/cart_text" %>
      </div>
      <div class="col-10">
        <div class="caviar-projects-menu">
          <div class="text-center portfolio-menu">
            <button class="active" data-filter="*">All</button>
            <% @categories.each do |category| %>
              <button data-filter=".<%= category.name %>"><%= category.name %></button>
            <% end %>
            <% if current_user.admin? %>
              <%= link_to t(".add"), "#", class: "",
                data: {toggle: "modal", target: "#modal-add"} %>
            <% end %>
          </div>
        </div>
        <div class="caviar-menu-slides owl-carousel clearfix">
          <div class="caviar-portfolio clearfix">
            <% @dishes.each do |dish| %>
              <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :dish_id, value: dish.id %>
              <%= f.hidden_field :price_each, value: dish.price %>
              <div class="single_menu_item <%= dish.category.name %> wow fadeInUp">
                <div class="d-sm-flex align-items-center">
                  <div class="dish-thumb">
                    <%= image_tag("dish-1.png", alt: "") %>
                  </div>
                  <div class="dish-description">
                    <h3><%= link_to dish.name, dish, class: "text-dark" %></h3>
                    <p><%= truncate dish.description, length: Settings.truncate_length %></p>
                    <%= f.number_field :quantity, value: 1, class: "form-control w-10", min: 1 %>
                    <% if current_user.admin? %>
                      <%= link_to t(".delete"), dish_in_menu(@menu, dish), method: :delete,
                        data: {confirm: t(".confirm")}%>
                    <% end %>
                  </div>
                  <div class="dish-value">
                    <h3>
                      <%= "#{Settings.money_symbol}#{dish.price}" %>
                    </h3>
                    <%= f.submit t(".order"), class: "btn caviar-btn" %>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
  <div class="container">
    <div class="row">
      <div class="col-12 menu-heading">
        <div class="section-heading text-center">
          <h2><%= t ".top_order" %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
          <%= image_tag("dish-1.png", alt: "") %>
          <div class="dish-info">
            <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
            <p class="dish-price">$45</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
          <%= image_tag("dish-2.png", alt: "") %>
          <div class="dish-info">
            <h6 class="dish-name">Lorem Ipsum</h6>
            <p class="dish-price">$45</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
          <%= image_tag("dish-3.png", alt: "") %>
          <div class="dish-info">
            <h6 class="dish-name">Lorem Ipsum Dolor Sit Amet</h6>
            <p class="dish-price">$45</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t ".modal_edit" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @menu do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <%= f.submit t(".submit"), class: "btn caviar-btn btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t ".modal_add" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @menudetail do |f| %>
        <%= hidden_field_tag :menu_id, @menu.id %>
          <div class="form-group">
            <%= f.label :category_id %>
            <%= f.collection_select :category_id, Category.all, :id, :name,
             include_blank: true, prompt: t(".select_category") %>
          </div>
          <div class="form-group" id="list-dishes">
            <%= f.label :dish_id %>
            <%= f.grouped_collection_select :dish_id, Category.all, :dishes_not_pick,
             :name, :id, :name ,include_blank: true, prompt: t(".select_dish") %>
          </div>
          <%= f.submit t(".submit"), class: "btn caviar-btn btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
