<section class="caviar-reservation-area d-md-flex align-items-center" id="reservation">
  <div class="reservation-form-area d-flex justify-content-end p-5">
    <div class="reservation-form">
      <div class="section-heading">
        <h2><%= t ".reservation" %></h2>
      </div>
      <%= render "reservations/reservation_form" %>
    </div>
  </div>
  <div class="reservation-side-thumb wow fadeInRightBig" data-wow-delay="0.5s">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><%= t ".name" %></th>
          <th scope="col"><%= t ".price" %></th>
          <th scope="col"><%= t ".quantity" %></th>
          <th scope="col">#</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <%= render current_order.order_items %>
        <p id="total">
          <%= number_to_currency current_order.total %>
        </p>
      </tbody>
    </table>
  </div>
</section>
