<%= form_for @order do |f| %>
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= f.date_field :input_date, class: "form-control", required: true %>
    </div>
    <div class="col-12 col-lg-6">
      <%= f.time_field :input_time, class: "form-control", required: true %>
    </div>
    <div class="col-12 col-lg-12">
      <%= f.number_field :people, class: "form-control", min: Settings.min_people,
        max: Settings.max_people, required: true, placeholder: t(".number_people") %>
    </div>
    <div class="col-12 col-lg-12">
      <hr>
      <%= f.text_area :message, class: "form-control",
        placeholder: t(".message") %>
      <hr>
    </div>
    <div class="col-12">
      <%= f.submit " Reserve Your Desk", class: "btn caviar-btn" %>
    </div>
  </div>
<% end %>
