<%= form_for @order_item, remote: true do |f| %>
  <%= f.hidden_field :dish_id, value: dish.id %>
  <%= f.hidden_field :price_each, value: dish.price %>
  <%= f.hidden_field :quantity, value: 1 %>
  <div class="single_menu_item <%= dish.category.id %> wow fadeInUp">
    <div class="d-sm-flex align-items-center">
      <div class="dish-thumb">
        <%= image_tag dish.image.url %>
      </div>
      <div class="dish-description">
        <h3><%= link_to dish.name, dish, class: "text-dark" %></h3>
        <% if dish.description? %>
          <p><%= truncate dish.description, length: Settings.truncate_length %></p>
        <% end %>
      </div>
      <div class="dish-value">
        <h3>
          <%= "#{Settings.money_symbol}#{dish.price}" %>
        </h3>
        <%= f.submit t(".order"), class: "btn caviar-btn" %>
      </div>
    </div>
  </div>
<% end %>
