 <div class="bg-img bg-overlay hero2">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcumb-content">
            <h2><%= @dish.name %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="caviar-food-menu section-padding-100 clearfix">
    <div class="container">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
          <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
            <div class="row">
              <div class="col-8">
                <h6><%= t ".dish_name" %></h6>
                <p class="font-italic"><%= @dish.name %></p>
                <h6><%= t ".description" %></h6>
                <p class="font-italic"><%= @dish.description %></p>
                <h6><%= t ".price" %></h6>
                <p class="font-italic">$<%= @dish.price %></p>
                <h6><%= t ".be_ordered" %></h6>
                <p class="font-italic">100 times</p>
              </div>
              <div class="col-4">
                <%= image_tag("dish-1.png", alt: "") %>
                <div class="dish-info">
                  <h6 class="dish-name"><%= @dish.name %></h6>
                  <p class="dish-price">$45</p>
                </div>
              </div>
            </div>
            <a href="#" class="btn caviar-btn"><span></span>
              <%= t ".order" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="caviar-food-menu section-padding-10 clearfix">
    <div class="container">
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
          <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
            <div class="row">
              <div class="col-8">
                <div class="reservation-form">
                  <div class="section-heading">
                  </div>
                    <div class="comment-form">
                      <% if logged_in? %>
                        <%= render "comments/form" %>
                      <% else %>
                        <p><%= t ".cant_comment" %></p>
                      <% end %>
                    </div>
                </div>
                <br>
                  <div class="comment-list">
                    <%= render @dish.comments.lastest %>  
                  </div> 
              </div>
                <div class="col-4">
                  <%= image_tag("dish-1.png") %>
                  <div class="comment-count">
                    <%= render "comments/count" %>
                  </div>
                </div>               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
