<div class="breadcumb-area bg-img bg-overlay hero1">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h2 style="overflow-wrap:break-word;"><%= @category.name %></h2>
          <% if current_user.admin? %>
            <%= link_to t(".edit"), "#", class: "btn caviar-btn",
              data: {toggle: "modal", target: "#modal-edit"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="caviar-food-menu section-padding-150 clearfix">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <% if current_user.admin? %>
          <%= link_to t(".add"), "#", class: "btn caviar-btn sticky",
            data: {toggle: "modal", target: "#modal-add"} %>
        <% end %>
        <div class="food-menu-title">
          <h2><%= @category.name %></h2>
        </div>
      </div>
      <div class="col-10">
        <div class="caviar-menu-slides owl-carousel clearfix">
          <div class="caviar-portfolio clearfix">
            <div class="single_menu_item wow fadeInUp">
              <div class="d-sm-flex align-items-center">
                <div class="dish-thumb">
                  <%= image_tag("dish-1.png", alt: "") %>
                </div>
                <div class="dish-description">
                  <h3>Lorem Ipsum Dolor Sit Amet</h3>
                  <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor.</p>
                </div>
                <div class="dish-value">
                  <h3>$45</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t ".modal_edit" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @category do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <%= f.submit t(".submit"), class: "btn caviar-btn btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t ".modal_add" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
