<div class="row grid-responsive">
  <div class="column ">
    <div class="card">
      <div class="card-title">
        <h3><%= t ".dishes" %></h3>
        <%= form_tag admin_path, method: :get, id: "search-form" do %>
          <%= text_field_tag :search, params[:search]  %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
      <div class="card-block">
        <table id="table-dishes">
          <thead>
            <tr>
              <th><%= t ".dish_name" %></th>
              <th><%= t ".price" %></th>
              <th id="month"><%= link_to t(".orders_this_month"), "#" %></th>
              <th id="day"><%= link_to t(".orders_today"), "#" %></th>
              <th>#</th>
            </tr>
          </thead>
          <%= "Number of dishes: #{Dish.all.count}" %>
          <%= paginate @dishes %>
          <tbody>
            <%= render @dishes %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
