<div class="bg-dark text-white" >
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-4">
          <h2 class="mb-4 text-secondary"><%= t ".brand" %></h2>
          <p class="text-white">Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper.
              Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus nisi a euismod.</p>
        </div>
        <div class="p-4 col-md-4">
          <h2 class="mb-4 text-secondary"><%= t ".mapsite" %></h2>
          <ul class="list-unstyled">
            <%= link_to t(".home"), root_path, class: "text-white" %>
            <br>
            <%= link_to t(".about"), "#", class: "text-white" %>
            <br>
            <%= link_to t(".menu"), "#", class: "text-white" %>
          </ul>
        </div>
        <div class="p-4 col-md-4">
          <h2 class="mb-4"><%= t ".contact" %></h2>
          <p>
              <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+123 456 789
          </p>
          <p>
              <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>xxx@xxx.com
          </p>
          <p>
              <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>XXX XXX XXX, XXX
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2018 - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
