<div id="preloader">
  <div class="caviar-load"></div>
  <div class="preload-icons">
    <%= image_tag("preload-1.png", alt: "", class: "preload-1") %>
    <%= image_tag("preload-2.png", alt: "", class: "preload-2") %>
    <%= image_tag("preload-3.png", alt: "", class: "preload-3") %>
  </div>
</div>
<div class="caviar-search-form d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="search-close-btn" id="closeBtn">
          <i class="pe-7s-close-circle" aria-hidden="true"></i>
        </div>
        <form action="#" method="get">
          <input type="search" name="caviarSearch" id="search">
          <input type="submit" class="d-none" value="submit">
        </form>
      </div>
    </div>
  </div>
</div>
<header class="header_area" id="header">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 h-100">
        <nav class="h-100 navbar navbar-expand-lg align-items-center">
          <%= link_to t(".brand"), root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#caviarNav" aria-controls="caviarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span></button>
          <div class="collapse navbar-collapse" id="caviarNav">
            <ul class="navbar-nav ml-auto" id="caviarMenu">
              <li class="nav-item active">
                <%= link_to t(".home"), root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu">Menu</a>
              </li>
              <li class="nav-item">
                <%= link_to t(".categories"), categories_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#awards">Awards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#testimonial">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#reservation">Reservation</a>
              </li>
              <li class="nav-item">
                <%= link_to t(".contact"), contact_path, class: "nav-link" %>
              </li>
              <% if logged_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                 role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><%= t ".account" %></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% if current_user.admin? %>
                    <%= link_to t(".admin"), "#", class: "dropdown-item" %>
                  <% else %>
                    <%= link_to current_user.name, "#", class: "dropdown-item" %>
                  <% end %>
                  <%= link_to t(".info"), current_user, class: "dropdown-item" %>
                  <%= link_to t(".setting"), "#", class: "dropdown-item" %>
                  <%= link_to t(".review"), new_review_path, class: "dropdown-item",
                   data: {toggle: "modal", target: "#modal-review"} %>
                  <%= link_to t(".logout"), logout_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to t(".login"), login_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
            <div class="caviar-search-btn">
              <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
