<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/admin_nav" %>
    <section id="main-content" class="column column-offset-20">
      <% flash.each do |message_type, message| %>
        <div class="alert background-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    </section>
    <%= javascript_include_tag "admin", "data-turbolinks-track": "reload" %>
  </body>
</html>
