<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <% flash.each do |message_type, message| %>
      <script>alert('<%= "#{message_type}: #{message}" %>')</script>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </body>
</html>
