<tr>
  <td><%= link_to dish.name, edit_admin_dish_path(dish) %></td>
  <td><%= dish.price %></td>
  <td><%= orders_this_month dish %></td>
  <td><%= orders_today dish %></td>
  <td><%= link_to t(".delete"), admin_dish_path(dish), method: :delete,
    data: {confirm: t(".confirm")} %></td>
</tr>
