<div class="row grid-responsive">
  <div class="column ">
    <div class="card">
      <div class="card-title">
        <h3><%= t ".add_dishes" %></h3>
      </div>
      <div class="card-block">
        <%= form_for @dish, url: admin_dish_path do |f| %>
          <fieldset>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.label :price %>
            <%= f.number_field :price %>
            <%= f.label :description %>
            <%= f.text_area :description, placeholder: t(".placeholder_description") %>
            <%= f.submit t(".submit"), class: "button-primary" %>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
